.nav-link.active i,
.nav-link.active span {
  color: #f4645f !important;
}

.collapse.show .nav-link.active {
  color: #f4645f !important;
}

.nav-link.active {
  color: #f4645f !important;
}

@media only screen and (max-width: 768px) {
  .ais-InstantSearch {
    margin: 1em 0;
  }
}

tr.bg-danger td {
  color: white !important;
}

